services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: demo-nextjs-dev
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - .env
    command: sh -c "pnpm dev"

  prod:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: demo-nextjs
    ports:
      - "3005:3000"
    env_file:
      - .env

volumes:
  node_modules:
